<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="designSelect.css">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="designSelect.js"></script>
</head>
<body>
    <div class="designSelect">
        <button type="button" class="designSelect-select">
            옵션1
        </button>
        <div class="designSelect-option">
            <div class="designSelect-option-label">
                <input id="option1" type="radio" value="option1" name="designSelect1">
                <label for="option1">옵션1</label>
            </div>
            <div class="designSelect-option-label">
                <input id="option2" type="radio" value="option2" name="designSelect1">
                <label for="option2">옵션2</label>
            </div>
            <div class="designSelect-option-label">
                <input id="option3" type="radio" value="option3" name="designSelect1">
                <label for="option3">옵션3</label>
            </div>
            <div class="designSelect-option-label">
                <input id="option4" type="radio" value="option4" name="designSelect1">
                <label for="option4">옵션4</label>
            </div>
        </div>
    </div>
</body>
</html>